html, body {
    max-width: 800px;
    margin: 0 auto;
    padding: 5px;
    padding-bottom: 20px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    vertical-align: middle;
}

tr:nth-child(odd) {
    background-color: #ddd;
}

object.org-svg {
    width: auto;
}

div.figure {
    padding: 0;
}

div.figure p {
    text-align: left;
}
